<div class="index-body recipe-container">
  <h1 class="index-page-title"><%= @user.username %></h1>
  <div class="ingredients-container">
    <p class="recipe-label">Recipes you've created:</p>
    <ul>
      <% @user.created_recipes.each do |recipe| %>
        <li><a href="/recipes/<%=recipe.id%>" class="user-recipe-link"><%= recipe.name %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="ingredients-container">
    <p class="recipe-label">Recipes in your collection:</p>
    <% if @user.recipes.length != 0 %>
      <ul>
        <% @user.recipes.each do |recipe| %>
          <li><a href="/recipes/<%=recipe.id%>" class="user-recipe-link"><%= recipe.name %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p class="recipe-detail">You haven't added any recipes yet!</p>
    <% end %>
  </div>
</div>
